{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="hero">

    <!-- .hero-head -->
    <div class="hero center">

    <h1>Limn Login</h1>
    <form class="control center-column" method="POST">
        <div class="box center-column">
        {% csrf_token %}
            {{form.username|attr:"placeholder: username"|attr:"class: control"|attr:"style: width: 250px; padding: 8px; color: #92A7A0; background-color: #1f1e1d; border: none"}}
            {{form.password|attr:"placeholder: password"|attr:"class: control"|attr:"style: width: 250px; padding: 8px; color: #92A7A0; background-color: #1f1e1d; border: none"}}
        </div>
        <button class="button is-small is-rounded">Login</button></div>
    </form>
    </div>
</section>
{% endblock %}
