{% extends 'base.html' %}

{% block content %}
<main>
    <section class="hero is-mobile is-marginless">

            <div class="center-column">
                <h1>Create New Account</h1>
                <div>
                    <!-- <div class="center-column"> -->
                        <form class="box control center-column" method="POST">
                            {% csrf_token %}
                            <form class="form-group">
                            {{form.username}}
                            {{form.email}}
                            {{form.password1}}
                            {{form.password2}}</form>

                            <button class="button is-small is-rounded">Sign Up</button>
                            
                        </form>
                    <!-- </div> -->
            
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>
</section>
</main>
{% endblock %}