{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<main>
    <section class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="row text-center">
                    <h1>Create New Account</h1>
                </div>
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                        {{form.username}}
                        </div>
                        <div class="mb-3">
                        {{form.email}}
                        </div>
                        <div class="mb-3">
                        {{form.password1}}
                        </div>
                        <div class="mb-3">
                        {{form.password2}}
                        </div>
                        <div class="mb-3">
                        <button type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        <div>
    </section>
</main>
{% endblock %}