{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<main>
    <section class="hero is-mobile is-marginless">

            <div class="center-column">
                <h1>Create New Account</h1>
                <div>
                    <!-- <div class="center-column"> -->
                        <form class="control center-column" method="POST">
                            <div class="box center-column">
                            {% csrf_token %}
                            {{form.username}}
                            {{form.email}}
                            {{form.password1}}
                            {{form.password2}}
                            </div>
                            <button class="button is-small ">Sign Up</button>
                            
                        </form>
                    <!-- </div> -->
            
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>
</section>
</main>
{% endblock %}