{% extends 'base.html' %}

{% block content %}
<main class="container text-center">
    <h1>Create an Entry for {{journal.title}}</h1>
    <div class="row">
    <div class="col-2"></div>
    
    <div class="col">

        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="mb-3">
                        {{ entryForm.title}}
                    </div>
                    <div class="mb-3">
                        {{ entryForm.location }}
                    </div>
                    <div>
                        <div class="mb-3">
                            {{entryForm.body}}
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="videoTitle" placeholder="Video Title">
                        </div>
                        <div class="mb-3">
                            {{videoForm.source_url}}
                        </div>
                        <div class="mb-3">
                            {{entryForm.image}}
                        </div>
                        <div class="mb-3">
                            {{entryForm.entry_privacy}}
                        </div>
                        <button class="btn btn-outline-light " type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-2"></div>
</div>
</main>

{% endblock %}