{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <h1>{{entry.title}}</h1>
        <a href="{% url 'core:profile' pk=entry.journal.user.id %}">
            <p>By: {{entry.journal.user.username}}</p>
        </a>
        <p>Created On: {{entry.created_at}}</p>
        <a href="{url 'core:journal' pk=entry.journal.id}">
            <p>
                {{entry.journal.title}}
            </p>
        </a>
    </header>
    {% if request.user == entry.journal.user %}
        <div>
            <a href="{% url 'core:update_entry' pk=entry.id %}">
                <button>Update Entry</button>
            </a>
                <button>Archive Entry</button>
        </div>
    {% endif %}
    <section>
        <h2>Capture:</h2>
        <p>{{entry.body}}</p>
    </section>
    {% if entry.image.count > 0 %}
    <section>
        {% for img in entry.image.all %}
        <img src="{{img.image.url}}"/>
        {% endfor %}
    </section>
    {% endif %}
    <section>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{commentForm.as_p}}
            <input type="submit" value="Submit" />
        </form>
    </section>
    {% if comments.count > 0 %}
        {% for comment in comments %}
        <div>  
            <div>
            <a href="{% url 'core:profile' pk=comment.user.profile.pk %}"><img src="{{comment.user.profile_img.url}}"></a>
            <h4>{{comment.user.username}}</h4>
            <p>{{ comment.created_at }}</p>
            </div>
            <p>{{comment.comment}}</p>
            {% if request.user == comment.user %}

                <div>
                <button>Delete Comment</button> <a href="{% url 'core:edit_comment' pk=comment.pk %}"><button>Edit Comment</button></a>
                </div>
            {%endif%}
            <button>Reply to Comment</button>
        </div>  
        {% endfor %}
    {% endif %}

</main>

{% endblock %}