{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <img src="{{ journal.cover_img.url }}"/>
        <h1>{{journal.title}}</h1>
        <a href="{% url 'core:profile' journal.user.profile.pk %}">{{journal.user.username}}</a>
        {{journal.description}} 
    </header>
    <section>
        <a href="{% url 'core:update_journal' journal.pk %}">
            <button>
                Edit Journal
            </button>
        </a> 
        <a href="{% url 'core:create_entry' journal.pk %}">
            <button>
                Add Journal Entry
            </button>
        </a> 
    </section>
    <section>
        {% for entry in entries %}
            <div>
            <h4>{{entry.title}}</h4>
                {% for img in entry.image.all %}
                    {% if forloop.counter == 1%}
                        <img src="{{img.image.url}}">
                    {% endif%}
                {% endfor %}
            
                </div>
            </div>
            
        {% endfor %}

    </section>

</main>

{% endblock %}
