{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <img src="{{ journal.cover_img.url }}"/>
        <h1>{{journal.title}}</h1>
        <a href="{% url 'core:profile' journal.user.profile.pk %}">{{journal.user.username}}</a>
        {{journal.description}} 
    </header>
    <section>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{commentForm.as_p}}
            <input type="submit" value="Submit" />
        </form>
    </section>
    {% if journal.journal_comments.count > 0 %}
        {% for comment in journal.journal_comments.all %}
        <div>  
            <div>
            <a href="{% url 'core:profile' pk=comment.user.profile.pk %}"><img src="{{comment.user.profile_img.url}}"></a>
            <h4>{{comment.user.username}}</h4>
            <p>{{ comment.created_at }}</p>
            </div>
            <p>{{comment.comment}}</p>
            <button>Delete Comment</button><button>Edit Comment</button><button>Reply to Comment</button>
        </div>  
        {% endfor %}
    {% endif %}
</main>

{% endblock %}