{% extends 'base.html' %}

{% block content %}
<main>
    {% if journal.is_archived is True %}

        <h1>This journal is no longer available</h1>
    
        {% else %}
        <header class="row">
            {% if journal.cover_img %}
            <div class="row background" style="background-image: url('{{ journal.cover_img.url }}')">
                <div class=" row darkOverlay">
                    <div class="col"></div>
                    <div class="col">
                        <h1>{{journal.title}}</h1>
                        <p>by <a href="{% url 'core:profile' journal.user.profile.pk %}">{{journal.user.username}}</a></p>
                        <p>{{journal.description}}</p>
                    </div>
                    <div class="col"></div>
                    <div class="d-flex justify-content-center">
                            <a href="{% url 'core:update_journal' journal.pk %}">
                                <button>
                                    Edit Journal
                                </button>
                            </a> 
                            <form action="{% url 'core:delete_journal' pk=journal.pk %}" method="POST">
                                {% csrf_token %}
                                <button name="archive" value="archive">Delete Journal</button>
                            </form>
                            <a href="{% url 'core:create_entry' journal.pk %}">
                                <button >
                                    Add Journal Entry
                                </button>
                            </a> 
                    </div>
                </div>
            </div>
            {%else%}
            <div class="col"></div>
                <div class="col-5">
                    <h1>{{journal.title}}</h1>
                    <p>by <a href="{% url 'core:profile' journal.user.profile.pk %}">{{journal.user.username}}</a></p>
                    <p>{{journal.description}}</p>
                </div>
            <div class="col"></div>
            <div class="d-flex justify-content-center">
                
                    <a href="{% url 'core:update_journal' journal.pk %}">
                        <button>
                            Edit Journal
                        </button>
                    </a> 
            
                
                    <form action="{% url 'core:delete_journal' pk=journal.pk %}" method="POST">
                        {% csrf_token %}
                        <button  name="archive" value="archive">Delete Journal</button>
                    </form>
        
                    <a href="{% url 'core:create_entry' journal.pk %}">
                        <button>
                            Add Journal Entry
                        </button>
                    </a> 
            </div>
            {%endif%}

            
        </header>


         
        <article class="container">
        <div class="row">
            <div class="col sticky_top">
                <h5>Entry Log:</h5>
                <div id='calendar'></div>
            </div>
        
        
        <section class="col">
            {% for entry in entries %}
                {% if forloop.first %}
                <div class="row">
                {% endif %}
                {% if entry.image %}
                    {% with entry.image.all|first as image %}
                        <div class="col background" style="background-image: url('{{image.image.url}}');">
                        <div class="row darkOverlay">
                        <div class="col">
                    {% endwith%}
                {%else%}
                    <div class="col-xs-4">
                        <div>
                            <div>
                {%endif%}
                <a href="{% url 'core:entry_landing' pk=entry.pk %}">
                    <h5>{{entry.title}}</h5>
                    </a>
                    <p>{{entry.created_at}}</p> 

                </div></div></div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        
        </div>
        </section>
    </article>
    {% endif %}

</main>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script  type="text/javascript">

    var a = {{cal|safe}};

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth', 
        events: a
        });
        calendar.render();
    });

    </script>

{% endblock %}
