{% extends 'base.html' %}

{% block content %}
<main>
    {% if journal.is_archived is True %}

        <h1>This journal is no longer available</h1>
    
        {% else %}
        <header>
            {% if journal.cover_img %}
                <img src="{{ journal.cover_img.url }}"/>
            {% endif %}
            <h1>{{journal.title}}</h1>
            <a href="{% url 'core:profile' journal.user.profile.pk %}">{{journal.user.username}}</a>
            {{journal.description}} 
        </header>
        <section class="column left">
            <a href="{% url 'core:update_journal' journal.pk %}">
                <button class="button is-small is-rounded">
                    Edit Journal
                </button>
            </a> 
            <form action="{% url 'core:delete_journal' pk=journal.pk %}" method="POST">
                {% csrf_token %}
                <button class="button is-small is-rounded" name="archive" value="archive">Delete Journal</button>
            </form>
            <a href="{% url 'core:create_entry' journal.pk %}">
                <button class="button is-small is-rounded">
                    Add Journal Entry
                </button>
            </a> 
        </section>
        <section>
            {% for entry in entries %}
                <a href="{% url 'core:entry_landing' pk=entry.pk %}"><div>
                <h4>{{entry.title}}</h4>
                    {% for img in entry.image.all %}
                        {% if forloop.counter == 1%}
                            <img src="{{img.image.url}}">
                        {% endif%}
                    {% endfor %}
                
                    </div>
                </div></a>
                
            {% endfor %}

        </section>
    {% endif %}

</main>

{% endblock %}
