{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <h2>Select a Date Range</h2>
        <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <h4>Start Date:</h4>
                {{dateForm.start_date}}
              </div>
              <div>
                <h4>End Date:</h4>
                {{dateForm.end_date}}
              </div>
              <div>
                <h5>Select Journal</h5>
                {{dateForm.journals}}
              </div>
            <button value="submit" type="submit">View Memories</button>
        </form>
      </div>
        <div class="col"></div>
        {% if not token_info %}

        <h5 class=""><a href="{% url 'core:spotify_login' %}">Login to spotify for more features!</a></h5>
        {% endif %}
      </div>
      <section class="row">
      {% if songs %}
        <h2>Songs for {{date}}</h2>
       <div class="row">
        {% for song in songs %}
            {% if forloop.first %}
            <div class="row">
            {% endif %}
            <div class="col">
                <div class="iframely-embed">
                    <div class="iframely-responsive">
                        <a data-iframely-url href="{{song}}"></a>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {%endif%}
    {% if playlist_url %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8">      
        <h2>Playlist for {{date}}</h2>
            <div class="iframely-embed">
                <div class="iframely-responsive">
                    <a data-iframely-url href="{{playlist_url}}"></a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    </section>
    {%endif%}



    <script async src="//cdn.iframe.ly/embed.js?api_key={{frame_key}}"></script>


</main>

{% endblock %}