{% extends 'base.html' %}

{% block content %}

<div class="column">

    <div class="block">
        <h1 class="title is-1">
            {{profile.user.username|upper}}
        </h1>
        <p>{{profile.email}}</p>
        <p>{{profile.bio}}</p>
        <p>{{profile.location}}</p>
        <p class="profile"><img src="{{ profile.profile_img.url }}"></p>
        <form method="POST">
            {% csrf_token %}
            <div class="buttons">
                {% if profile in user.profile.follows.all %}
                <button class="btn btn-outline-light " name="follow" value="unfollow">UnFollow</button>
                {%else%}
                <button class="btn btn-outline-light " name="follow" value="follow">Follow</button>
                {% endif %}
            </div>
        </form>

        </div>

    <div class="block">
    <h1 class="title is-1">
        {{profile.user.username|upper}}'s Journals
    </h1>
    <div>
            {% for journal in journals %}
                {% if journal.cover_img %}
                    <img src="{{ journal.cover_img.url }}">
                {% endif %}
                <a href="{% url 'core:journal_profile' pk=journal.pk %}">{{journal.title}}</a>
            {% endfor %}
    </div>
        </div>

</div>

<div class="column is-one-third">

    <div class="block">
        <a href="#">
            <button class="btn btn-outline-light">
                All Profiles
            </button>
        </a>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile.user.username}} follows:
        </h3>
        <div class="content">
            <ul>
            {% for following in profile.follows.all %}
                <li>
                    <a href="{% url 'core:profile' pk=following.user.profile.pk %}">
                        {{ following }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile.user.username}} is followed by:
        </h3>
        <div class="content">
            <ul>
            {% for follower in profile.followed_by.all %}
                <li>
                    <a href="{% url 'core:profile' pk=follower.user.profile.pk %}">
                        {{ follower }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock content %}