{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
    <h1>Search Page</h1>
    <div class="col-7">
    <section class="d-inline-flex">
        <form action="{% url 'core:search_users' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Users">
            <input type="submit" name="submit" value="User Search"/>
        </form>
    </section>
    <section class="d-inline-flex">
        <form action="{% url 'core:search_user_entries' %}" method="GET" value="{{request.GET.a}}">
            <input type="text" name="a" value="{{request.GET.a}}" placeholder="Search Your Memories">
            <input type="submit" name="submit" value="User Memory Search"/>
        </form>
    </section>
    <section class="d-inline-flex">
        <form action="{% url 'core:search_user_journals' %}" method="GET" value="{{request.GET.j}}">
            <input type="text" name="j" value="{{request.GET.j}}" placeholder="Search Your Journals">
            <input type="submit" name="submit" value="User Journal Search"/>
        </form>
    </section>
    <section class="d-inline-flex">
        <form action="{% url 'core:search_all_entries' %}" method="GET" value="{{request.GET.aa}}">
            <input type="text" name="aa" value="{{request.GET.aa}}" placeholder="Search All Memories">
            <input type="submit" name="submit" value="Memory Search"/>
        </form>
    </section>
    <section class="d-inline-flex">
        <form action="{% url 'core:search_all_journals' %}" method="GET" value="{{request.GET.jj}}">
            <input type="text" name="jj" value="{{request.GET.jj}}" placeholder="Search All Journals">
            <input type="submit" name="submit" value="Journal Search"/>
        </form>
    </section>
    </div>
    <div class="col"></div>
    <div class="col"></div>

    </div>

    <section class="row">
    {% if submitButton == 'User Search' %}
        {% if results %}
            <h2>Results for {{ request.GET.q}}</h2>
            {% for result in results %}
                <div class="d-flex">
                <div class="profile-sm mini">
                <img style="height: 200;" src="{{ result.profile.profile_img.url }}"/>
                </div>
                <a href="{% url 'core:profile' pk=result.profile.id %}">
                    <p>{{result.username}}</p>
                </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if submitButton == 'User Memory Search' %}
        {% if results %}
            <h2>Results for {{ request.GET.a}}</h2>
            {% for result in results %}
                <a href="{% url 'core:entry_landing' pk=result.pk %}">  
                <div>
                        <h4>{{result.title}}</h4>
                            {% for img in result.image.all %}
                                {% if forloop.counter == 1%}
                                    <div class="profile-sm mini">
                                        <img style="height: 200;" src="{{img.image.url}}"/>
                                    </div>
                                {% endif%}
                            {% endfor %}     
                </div>
                </a>  
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if submitButton == 'User Journal Search' %}
    {% if results %}
            <h2>Results for {{request.GET.j}}</h2>
            {% for result in results %}
                <a href="{% url 'core:journal_profile' pk=result.pk %}">  
                <div>
                        <h4>{{result.title}}</h4>
                        {% if result.cover_img %}
                        <div class="profile-sm mini">
                        <img style="height: 200;" src="{{result.cover_img.url}}">
                        </div>
                        {% endif %}
                </div>
                </a>  
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if submitButton == 'Memory Search' %}
        {% if results %}
            <h2>Results for {{ request.GET.a}}</h2>
            {% for result in results %}
                <a href="{% url 'core:entry_landing' pk=result.pk %}">  
                    <div>
                        <h4>{{result.title}}</h4>
                            {% for img in result.image.all %}
                                {% if forloop.counter == 1%}
                                    <div class="profile-sm mini">
                                        <img style="height: 200;" src="{{img.image.url}}"/>
                                    </div>
                                {% endif%}
                            {% endfor %}     
                    </div>
                </a>  
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if submitButton == 'Journal Search' %}
    {% if results %}
            <h2>Results for {{request.GET.j}}</h2>
            {% for result in results %}

                <a href="{% url 'core:journal_profile' pk=result.pk %}">  
                    <div>
                        <h4>{{result.title}}</h4>
                        {% if result.cover_img %}
                        <div class="profile-sm mini">
                        <img style="height: 200;" src="{{result.cover_img.url}}">
                        </div>
                        {% endif %}
                </div>
                </a>  
            {% endfor %}
        {% endif %}
    {% endif %}
    </section>

</main>



{% endblock %}