{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" value="Submit">Search for music</button>
        </form>
    </div>
    <div class="col"></div>
</div>

{%for item in search_results%}
<div class="row">
    <div class="col-1"></div>
    <div class="col-7">
    <div class="row">
    <div class="d-flex mini justify-content-start align-items-center">
        {% if item.images %}
        {% for image in item.images %}
            {% if image.height == 64 and image.width == 64 %}
            <a class="mini" target="_blank" href="{{ item.external_urls.spotify }}">
                <img src="{{image.url}}">
            </a>
            {% endif %}
        {% endfor %}
        {%else%}
        {% for image in item.album.images %}
            {% if image.height == 64 and image.width == 64 %}
            <a class="mini" target="_blank" href="{{ item.external_urls.spotify }}">
                <img src="{{image.url}}">
            </a>
            {% endif %}
        {% endfor %}
        {% endif %}
        <a lass="mini" href="{{ item.external_urls.spotify }}">
            {{ item.name }}
        </a>
        <form action="{% url 'core:add_song' pk=entry.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{item.name}}">
            <button value="{{item.external_urls.spotify}}" name="source">Add Music To Memory</button>
        </form>
    </div>
    </div>
    </div>
    <div class="col"></div>
    {%empty%}
    <h2>No results</h2>
</div>
{% endfor %}
{% if result_count%}
<ul>
    {%if search_results.has_previous %}
    <li><a href="?page={{search_results.prev_page_number}}">Previous</a></li>
    {%endif%}
    <li>Page {{search_results.number}} of {{search_results.paginator.num_pages }}</li>
    {% if search_results.has_next%}
    <li><a href="?page={{ search_results.next_page_number }}">Next</a></li>
    {%endif%}
</ul>
{%endif%}
</main>

{% endblock %}
