{% extends 'base.html' %}
{%block content%}
{% load cloudinary %}

<section class="row">
    <h1 class="top_spacer">Update Journal</h1>
    <div class="col"></div>
    <div class="col-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3">
                    {{ form.title}}
                </div>
                <div class="mb-3">
                    {{ form.location }}
                </div>
                <div class="mb-3"">
                    {{form.description}}
                </div>
                <div class="mb-3">
                    {{form.cover_img}}
                </div>
                <div class="mb-3">
                    <label>Privacy:</label>{{form.default_privacy}}
                </div>
                <div class="mb-3">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>

{% endblock %}

<script type="text/javascript">
    const url = "https://api.cloudinary.com/v1_1/demo/image/upload";
    const form = document.querySelector("form");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

    const files = document.querySelector("[type=file]").files;
    const formData = new FormData();

    for (let i = 0; i < files.length; i++) {
        let file = files[i];
        formData.append("file", file);
        formData.append("upload_preset", "docs_upload_example_us_preset");

    fetch(url, {
        method: "POST",
        body: formData
    })
    .then((response) => {
        return response.text();
    })
    .then((data) => {
        document.getElementById("data").innerHTML += data;
    });
    }
});
</script>