{% extends 'base.html' %}

{% block content %}
<main class="container text-center">
    <h1>Edit {{entry.title}} </h1>
    <section class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ entryForm.title}}
                </div>
                    <div class="mb-3">
                    {{entryForm.location}}
                </div>
                <div class="mb-3">
                    {{entryForm.body}}
                </div>
                <div class="mb-3">
                    {{entryForm.entry_privacy}}
                </div>
                <div class="mb-3">
                    {{entryForm.image}}
                </div>
                <div class="mb-3">
                <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    
    </section>
    <section class="row">
        <div class="col-md">
        {% if place %}
            <div class="row">
            <img src="{{placeMap}}">
            </div>
            <div class="d-inline-flex">
            <a href="{% url 'core:search_location' pk=entry.pk %}"><button>Change Memory Location</button></a>
            <form action="{% url 'core:archive_place' pk=place.pk ok=entry.pk %}" method="POST">
                {% csrf_token %}
                <button name="archive" value="archive">Remove Place From Memory</button>
            </form>
        {% else %}
            <div class="mb-3">
                <a href="{% url 'core:search_location' pk=entry.pk %}"><button>Add Memory Location</button></a>
            </div>
        {% endif %}
            </div>
        </div>
        <div class="col-md">
            {% if song %}
{% with song.all|first as entrySong %}
        <div class="row">
            <div class="iframely-embed">
                <div class="iframely-responsive">
                    <a data-iframely-url href="{{entrySong.source_url}}"></a>
                </div>
            </div>
        </div>
        <div class="d-inline-flex">
        <form action="{% url 'core:archive_song' pk=entrySong.id ok=entry.pk %}" method="POST">
            {% csrf_token %}
            <button name="archive" value="archive">Remove From Memory</button>
        </form>
        {% endwith %}
        <div class="mb-3">
            <a href="{% url 'core:search_spotify' pk=entry.pk %}"><button>Change Music</button></a>
        </div>
        {% else %}
        <div class="mb-3">
            <a href="{% url 'core:search_spotify' pk=entry.pk %}"><button>Add Music to Memory</button></a>
        </div>
        {% endif %}
        </div>
        </div>
    </section>
    <section class="row">
            {% if images %}
             <div class="row">
              {% for image in images %}
                  {% if forloop.first %}
                  <div class="row">
                  {% endif %}
                  <div class="col">
                    <img class="img-fluid" src="{{image.image.url}}">
                    <form action="{% url 'core:archive_image' pk=image.pk ok=entry.pk %}" method="POST">
                        {% csrf_token %}
                        <button name="archive" value="archive">Remove Image From Memory</button>
                    </form>
                  </div>
              {% if forloop.counter|divisibleby:2 %}
                  </div>
                  <div class="row">
              {% endif %}
              {% if forloop.last %}
                  </div>
              {% endif %}
          {% endfor %}
          </div>
          {%endif%}
        {% for image in images %}
           
        {% endfor %}
    </section>


<div class="row">
    <h3>
        Add a Video
    </h3>
    <form action="{% url 'core:add_video' pk=entry.pk %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            
            {{ videoForm.title}}
        </div>
        <div class="mb-3">
            {{videoForm.source_url}}
        </div>
        <div class="mb-3">
        <button type="submit">Submit</button>
        </div>
    </form>
</div>
<section class="row">
    {% if videos %}
     <div class="row">
      {% for video in videos %}
          {% if forloop.first %}
          <div class="row">
          {% endif %}
          <div class="col">
            <div class="iframely-embed">
                <div class="iframely-responsive">
                    <a data-iframely-url href="{{video.source_url}}"></a>
                </div>
            </div>
            <form action="{% url 'core:archive_video' pk=video.pk ok=entry.pk %}" method="POST">
                {% csrf_token %}
                <button name="archive" value="archive">Remove Video From Memory</button>
            </form>
          </div>
      {% if forloop.counter|divisibleby:2 %}
          </div>
          <div class="row">
      {% endif %}
      {% if forloop.last %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
  {%endif%}
{% for image in images %}
   
{% endfor %}
</section>


<script async src="//cdn.iframe.ly/embed.js?api_key={{frame_key}}"></script>
    
</main>

{% endblock %}
<script type="text/javascript">
    const url = "https://api.cloudinary.com/v1_1/demo/image/upload";
    const form = document.querySelector("form");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

    const files = document.querySelector("[type=file]").files;
    const formData = new FormData();

    for (let i = 0; i < files.length; i++) {
        let file = files[i];
        formData.append("file", file);
        formData.append("upload_preset", "docs_upload_example_us_preset");

    fetch(url, {
        method: "POST",
        body: formData
    })
    .then((response) => {
        return response.text();
    })
    .then((data) => {
        document.getElementById("data").innerHTML += data;
    });
    }
});
</script>
