{% extends 'base.html' %}

{% block content %}
<main class="text-center">
    <h1>Edit {{entry.title}} </h1>
    <section class="container">
        <div class="col"></div>
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ entryForm.title}}
                </div>
                    <div class="mb-3">
                    {{entryForm.location}}
                </div>
                <div class="mb-3">
                    {{entryForm.body}}
                </div>
                <div class="mb-3">
                    {{entryForm.entry_privacy}}
                </div>
                <div class="mb-3">
                    {{entryForm.image}}
                </div>
                <div class="mb-3">
                <button class="btn btn-outline-light" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="mb-3"></div>
    </section>
    <section class="container">
        {% if place %}
            <img src="{{placeMap}}">
            <a href="{% url 'core:search_location' pk=entry.pk %}"><button class="btn btn-outline-light">Change Entry Location</button></a>
            <form action="{% url 'core:archive_place' pk=place.pk ok=entry.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-light" name="archive" value="archive">Remove Place From Entry</button>
            </form>
        {% else %}
            <div class="mb-3">
                <a href="{% url 'core:search_location' pk=entry.pk %}"><button class="btn btn-outline-light">Add Entry Location</button></a>
            </div>
        {% endif %}
    </section>
    <section class="container">
        {% for image in images %}
            <img src="{{image.image.url}}">
            <form action="{% url 'core:archive_image' pk=image.pk ok=entry.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-light" name="archive" value="archive">Remove Image From Entry</button>
            </form>
        {% endfor %}
    </section>

{% if song %}
{% with song.all|first as entrySong %}
        <div class="iframely-embed">
            <div class="iframely-responsive">
                <a data-iframely-url href="{{entrySong.source_url}}"></a>
            </div>
        </div>
        <form action="{% url 'core:archive_song' pk=entrySong.id ok=entry.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-light" name="archive" value="archive">Remove Song From Entry</button>
        </form>
{% endwith %}
<div class="mb-3">
    <a href="{% url 'core:search_spotify' pk=entry.pk %}"><button class="btn btn-outline-light">Change Entry Song</button></a>
</div>
{% else %}
<div class="mb-3">
    <a href="{% url 'core:search_spotify' pk=entry.pk %}"><button class="btn btn-outline-light">Add Entry Song</button></a>
</div>
{% endif %}

<div class="container">
    <h3>
        Add a Video
    </h3>
    <form action="{% url 'core:add_video' pk=entry.pk %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            
            {{ videoForm.title}}
        </div>
        <div class="mb-3">
            {{videoForm.source_url}}
        </div>
        <div class="mb-3">
        <button class="btn btn-outline-light" type="submit">Submit</button>
        </div>
    </form>
</div>
{% if videos %}
    {% for video in videos %}
        <div class="iframely-embed">
            <div class="iframely-responsive">
                <a data-iframely-url href="{{video.source_url}}"></a>
            </div>
        </div>
        <form action="{% url 'core:archive_video' pk=video.pk ok=entry.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-light" name="archive" value="archive">Remove Video From Entry</button>
        </form>
        {% endfor %}
    {% endif %}

<script async src="//cdn.iframe.ly/embed.js?api_key={{frame_key}}"></script>
    
</main>

{% endblock %}
<script type="text/javascript">
    const url = "https://api.cloudinary.com/v1_1/demo/image/upload";
    const form = document.querySelector("form");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

    const files = document.querySelector("[type=file]").files;
    const formData = new FormData();

    for (let i = 0; i < files.length; i++) {
        let file = files[i];
        formData.append("file", file);
        formData.append("upload_preset", "docs_upload_example_us_preset");

    fetch(url, {
        method: "POST",
        body: formData
    })
    .then((response) => {
        return response.text();
    })
    .then((data) => {
        document.getElementById("data").innerHTML += data;
    });
    }
});
</script>
