{% extends 'base.html' %}
{%block content%}

<section>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_group">
            <label>Title:</label>
            {{ form.title}}
            <label>Location:</label>
            {{form.location}}
            <label>Description:</label>
            {{form.description}}
            <label>Cover Image:</label>
            {{form.cover_img}}
            <label>Privacy:</label>
            {{form.default_privacy}}
        </div>
        <button type="submit">Submit</button>
    </form>

{% endblock %}