{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
{% if user_form.errors %}
    <div role="alert">
        {%for key, value in user_form.errors.items %}
            <div>
                <strong>{{ value  }}</strong>
            </div>
        {% endfor %}
    <button type="button" data-dismiss="alert"></button>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="row text-left">
            <h3>Update Your Profile</h3>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    
                    {{user_form.username}}
                </div>
                <div class="mb-3">
                    {{ profile_form.email}}
                </div>
                    <div class="mb-3">
                    {{profile_form.bio}}
                </div>

                    <div class="mb-3">
                    {{profile_form.location}}
                </div>

                    <div class="mb-3">
                        <div class="profile-sm">
                            <img src="{{ user.profile.profile_img.url }}">
                        </div>
                    {{profile_form.profile_img}}
                </div>
                <div class="row justify-content-center">
                    <button class="col-3" type="submit">Update Profile</button>
                    <button class ="col-3" type="reset">Reset</button>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
    


<div class="container text-center">
    <h3>Delete Account</h2>
    
    <form method="post" action="{% url 'core:remove' %}">
        {% csrf_token %}
        <button  type="submit">deactivate account</button>
    </form>

</div>
</div>
{%endblock%}

<script type="text/javascript">
    const url = "https://api.cloudinary.com/v1_1/demo/image/upload";
    const form = document.querySelector("form");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

    const files = document.querySelector("[type=file]").files;
    const formData = new FormData();

    for (let i = 0; i < files.length; i++) {
        let file = files[i];
        formData.append("file", file);
        formData.append("upload_preset", "docs_upload_example_us_preset");

    fetch(url, {
        method: "POST",
        body: formData
    })
    .then((response) => {
        return response.text();
    })
    .then((data) => {
        document.getElementById("data").innerHTML += data;
    });
    }
});
</script>

<!-- <button id="upload_widget" class="cloudinary-button">Upload files</button> -->

<!-- <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  

    var myWidget = cloudinary.createUploadWidget({
        cloudName: 'limn',
        upload_preset: 'preset1',
        }, (error, result) => { if (result.event == "success") {
            console.log(result.info) // result.info contains data from upload
        } })

        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
        }, false);
    
</script> -->