{% load static %}
{% block content %}
{% if user.is_authenticated %}

<nav class="navbar">
    <div class="navbar-brand">
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'core:home' %}">Limn</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="{% url 'core:dashboard' %}">Home</a>
            <a class="navbar-item" href="{% url 'core:profile' pk=request.user.id %}">Profile</a>
            <a class="navbar-item" href="{% url 'logout' %}"><button class="button is-small ">Logout</button></a>
        </div>
    </div>
</nav>

{% else %}

<nav class="navbar is-transparent">
    <div class="navbar-brand">
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'core:home' %}">Limn</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="{% url 'core:home' %}">Home</a>
            <a class="navbar-item" href="{% url 'core:contact' %}">Contact</a>
            <a class="navbar-item" href="{% url 'login' %}">Login</a>
            <a class="navbar-item" href="{% url 'signup' %}"><button class="button is-small ">Sign Up</button></a>
        </div>
    </div>
</nav>

{% endif %}
{% endblock %}