
html, body {
    padding:0px;
    margin:0px;
}

body {
    background-color: #262523;
    color: #d3d9d9;
    display: column;
    min-height: 100vh;
    scrollbar-color: black;
    padding-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Della Respira', serif;
}

button{
    border: 1px solid rgba(90, 89, 67, 0.92);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    width: 135px;
    padding: 5px 0;
    margin: 10px;

}
.accordion-button.collapsed, .accordion-body, .accordion-item {
    color: #ffffff;
    background-color: #262523;
}


.accordion-button:not(.collapsed){
    background-color: #92A7A0;
    color: #262523;
}


.accordion-button.collapsed {
    border: 1px solid  #92A7A0;
}

.accordion-item{
    padding: 5px;
}

.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact{
    background-image: url('https://images.unsplash.com/photo-1531564701487-f238224b7ce3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    padding: 50px;
}
.homeHeader{
    width: 100vw;
    background: url('https://media1.giphy.com/media/hL8a3mIQK8Ehy/giphy.gif?cid=ecf05e47ebml444hx7knbft87nlgmsiwfzhrwl8fw6mb1f75&rid=giphy.gif&ct=g');
    background-size: cover;
    background-position: center;
}
.homeHeader h1{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}
.darkOverlay{
    background-color: rgba(38, 37, 35, 0.75);
}

.darkOverlay h3{
    margin: 20px;
}

.col-md img{
    width:100%;
}

.homelogo{
    width: 50%;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.container .row {
    margin-bottom: 15px;
}
.container .row {
    margin-top: 15px;
}

.top{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cover img {
    border-radius: 8px;
    max-height: 200px;
}
.profile img {
    border-radius: 8px;
    width: 200px;
}

.profile-sm img {
    border-radius:8px;
    width: 100px;
}

li {
    list-style: none;
}

.navbar, .footer {
    background-color: #262523;
    color: #d3d9d9;

}

a {
    color: #d3d9d9;
    text-decoration: none;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #262523;
}

.footer a {
    color: #d3d9d9;
}

a:hover, .navbar a:hover, .footer a:hover {
    background-color: #262523;
    color: #92A7A0;
}

/* .card {
    background-color: #5A5943;
} */


/* button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
} */

#wrapper {
    flex: 1;
}

#chartdiv {
    width: 60%;
    height: 70vh;
    }


input[type=text]{
    color: #92A7A0; 
    background-color: #1f1e1d; 
    border-radius: 8px; padding: 5px; 
    border: none;
}
input::placeholder {
    color:  #92A7A0;
}


/* 
textarea:focus, input:focus {
    border-color: transparent !important;
} */


/* input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}  */