

/* body {
    background-color: #262523;
    color: #d3d9d9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    scrollbar-color: auto;
}

img {
    border-radius: 8px;
    width: 200px;
}



.navbar, .footer {
    background-color: #262523;
    color: #d3d9d9;

}

a {
    color: #d3d9d9;
}

.navbar a, .footer a {
    color: #d3d9d9;
}

a:hover, .navbar a:hover, .footer a:hover {
    background-color: #262523;
    color: #92A7A0;
} */




/* button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
} */

/* #wrapper {
    flex: 1;
} */


/* input[type=text]{
	width: 250px; 
    color: #92A7A0; 
    background-color: #1f1e1d; 
    border-radius: 8px; padding: 5px; 
    border: none;
}

input{
    outline: none;
    border: none;
}  */
/* 
textarea:focus, input:focus {
    border-color: transparent !important;
} */


/* input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}  */