.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
    flex-wrap: wrap;
}

.main_section {
    flex-direction: row;
}

.left_side {
    flex-direction: column;
}

.right_side {
    flex-direction: column;
    justify-content: flex-end;
}

.journal_form {
    flex-direction: column;
    justify-content: center;
}

.top    { align-items:      flex-start; }
.right  { justify-content:  flex-end;   }
.bottom { align-items:      flex-end;   }
.left   { justify-content:  flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

.box {
    background-color: #1f1e1d;
    /* border-radius: 2px; */
    /* border-color: #1f1e1d; */
}


/* button {
    background-color: #92A7A0;
    color: #d3d9d9;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;   
} */

.button {
    background-color: #92A7A0;
    color: #1f1e1d;
    border: none; 
}

