{% extends 'base.html' %}
{%block content%}
<main>
    <section class="hero center">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h1 class="center">Contact us</h1>
            <form class="control center-column" method="post">
                <div class="box center-column">
                {% csrf_token%}
                {{form.name}}
                {{form.email_address}}
                {{form.subject}}
                {{form.message}}
                </div>
                <button class="button is-small" type="submit">Send Message</button>
            </form>
        </div>
    </section>
</main>
{%endblock%}