{% extends 'base.html' %}
{%block content%}
<section class="container">

    <div class="row">
    <div class="col">
        <div class="col">
            <img src="https://res.cloudinary.com/limn/image/upload/v1676651185/media/logo/limn-light-logo.png" alt="Limn logo" height="300">
        </div>
    </div>
    <div class="col">
        <div class="row text-center">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{form.name}}
                </div>
                <div class="mb-3">
                    {{form.email_address}}
                </div>
                <div class="mb-3">
                    {{form.subject}}
                </div>
                <div class="mb-3">
                    {{form.message}}
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-outline-light">Send message</button>
                </div>
            </form>
        </div>
    </div>
        <div class="col"></div>
    </div>
</section>
{%endblock%}


