{% extends 'base.html' %}
{% block content %}
<main>
    <header class="homeHeader">
            <div class="darkOverlay row">
            <img class="homelogo" src="https://res.cloudinary.com/limn/image/upload/v1676651185/media/logo/limn-light-logo.png" alt="Limn logo" height="300">
            <h1>Cherish Moments. Capture Memories. Evoke Emotion.</h1>
            </div>
    </header>
    <div class="container">
    <section class="row">
        <div class="col"></div>

        <div class="col"></div>
    </section>
    </div>
</main>
{%endblock%}