{% extends 'base.html' %}
{% block content %}
<main class="container">
    <header>
        <div class="row">
            <div class="col"></div>
        <div class="col">
            <h1>Welcome to Limn!</h1>
        </div>
        <div class="col"></div>
        </div>
    </header>
    <section class="row">
        <div class="col"></div>
        <div class="col">
            <img src="https://res.cloudinary.com/limn/image/upload/v1676651185/media/logo/limn-light-logo.png" alt="Limn logo" height="300">
        </div>
        <div class="col"></div>
    </section>

</main>
{%endblock%}