{% extends 'base.html' %}
{% block content %}
<main>
    <header class="homeHeader">
            <div class="darkOverlay row">
            <img class="homelogo" src="https://res.cloudinary.com/limn/image/upload/v1676651185/media/logo/limn-light-logo.png" alt="Limn logo" height="300">
            <h1>Cherish Moments. Capture Memories. Evoke Emotion.</h1>
            </div>
    </header>
    <div class="container">
    <section class="row align-items-center">
    
        <div class="col-md">
            <img src="https://images.unsplash.com/photo-1532387482281-c56ef57652ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" class="rounded float-left" alt="...">
        </div>

        <div class="col-md text-end">
            <h3 >Make more of your memories</h3>
            <p>More than a daily journal. Limn aims to give you the power to go beyond simply logging daily experiences. It empowers you to take a sensory still life of a moment that you can share as you see fit.</p>
            <p>Limn further empowers you to make the most of your experiences by making your data accessible to you through enabling custom reports.</p>
            <a href="{% url 'signup' %}">
                <button>Sign Up</button>
            </a>
        </div>
    
    </section>
    </div>
</main>
{%endblock%}